<div
  *ngIf="FoodData.length > 0"
  class="table-wrapper"
  style="margin-top: 100px"
>
  <table class="fl-table">
    <thead>
      <tr>
        <th>Kategorie</th>
        <th>Name</th>
        <th>Preis</th>
        <th>Weitere Details</th>
        <th>Ort</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of filterCurrectUserPosts()">
        <td>{{ post.category }}</td>
        <td>{{ post.name }}</td>
        <td>
          <b
            >CHF
            {{ post.price != null && post.price != "" ? post.price : "0" }}</b
          >
        </td>
        <td>{{ post.additionalDetail }}</td>
        <td>{{ post.location }}</td>
        <td>
          <button class="actionBtn" (click)="deletePost(post.id)">
            <span class="material-icons"> delete </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
