<div class="aboutPage">
  <h2>unsere Aufgabe</h2>
  <p>
    Wir möchten den schlechten Angewohnheiten von uns und Ihnen ein Ende
    setzten. Es gibt zu viele Lebensmittel, die für nichts Schlecht werden. Da
    wir dieses Szenario nur allzu gut kennen und selbst beenden wollten,
    gründeten wir unsere Community, welche dir Ihre Mithilfe, dem Foodwaste ein
    Ende setzten kann. Zumindest in unserer Umgebung. Wenn Sie selbst Essen oder
    Lebensmittel haben, können Sie diese auf unserer Seite jemanden übermitteln,
    der die Lebensmittel gut brauchen kann. Seien Sie bei unserer Revolution
    dabei und treten Sie mit uns den Kampf gegen den Foodwaste an!
  </p>
</div>
