<!-- <div class="burger">
  <div class="roll roll--top">
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
    <div class="roll__sesame"></div>
  </div>
  <div class="tomato-section">
    <div class="tomato-section__el"></div>
    <div class="tomato-section__el"></div>
    <div class="tomato-section__el"></div>
  </div>
  <div class="lettuce">
    <div class="lettuce__top">
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
    </div>
    <div class="lettuce__bottom">
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
      <div class="lettuce__el"></div>
    </div>
  </div>
  <div class="cheese">
    <div class="cheese__el cheese__el--big"></div>
    <div class="cheese__el cheese__el--small cheese__el--right"></div>
    <div class="cheese__el cheese__el--small cheese__el--left"></div>
  </div>
  <div class="chop">
    <div class="chop__top">
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
    </div>
    <div class="chop__bottom">
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
      <div class="chop__trace"></div>
    </div>
  </div>
  <div class="roll roll--bottom"></div>
</div> -->
